@model libraryproject.Models.studentModel
@{
    Layout = "~/Views/Shared/sharedview.cshtml";
}

<form>
    <div class="container center_div">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="bmd-label-floating">Student ID</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="bmd-label-floating">Student Name</label>
                    @Html.TextBoxFor(x => x.StudentName, null, new
                    {
                        @class = "form-control"@*, placeholder = "First Name"*@})
                    @Html.ValidationMessageFor(x => x.StudentName)
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.DropDownListFor(x => x.StuentTypeID, new List<SelectListItem> {
                   new SelectListItem{Text="COCIS",Value="COCIS"},
                   new SelectListItem{Text="COE",Value="COE"},
                   new SelectListItem{Text="COMS",Value="COMS"},

      }, new { @class = "form-control" })

                    <label class="bmd-label-floating">Student TypeID</label>
                    <input type="email" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">

                    <label class="bmd-label-floating">Department ID</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="bmd-label-floating">IS Active</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>

        @*<div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="bmd-label-floating"></label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="bmd-label-floating">Country</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="bmd-label-floating">Postal Code</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>*@
        @*<div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>About Me</label>
                    <div class="form-group">
                        <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                        <textarea class="form-control" rows="5"></textarea>
                    </div>
                </div>
            </div>
        </div>*@
        <button type="submit" class="btn btn-primary pull-center">ADD</button>
        <div class="clearfix"></div>
    </div>
</form>

